*.cache
.tmpbuf*
.log*
built/*
~*.docx
src/service/*.js
src/testsrc/*.js
src/service/editorServices.d.ts
libs/rpdb/
libs/ptvsd/
*.pyc
TS.log
*.pyproj
*.sln
ptvsd/*
.vs/*
sublime.py
sublime_plugin.py
.idea/*
.settings/*
tsserver/node_modules/*